<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Import_Xml.My.MySettings.SGEDados_Demo_131108ConnectionString"
            connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDados_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_Demo_131108ConnectionString1"
            connectionString="Dsn=SGEDados_Demo_131108;uid=administrador;trusted_connection=Yes;app=Microsoft® Visual Studio® 2008;wsid=BAHIA-PC;database=SGEDados_Demo_131108"
            providerName="System.Data.Odbc" />
        <add name="Import_Xml.My.MySettings.SGEDic_Demo_131108ConnectionString"
            connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDic_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_Demo130809ConnectionString"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo130809;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString1"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString2"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString3"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString4"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDados_DemoConnectionString5"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="Import_Xml.My.MySettings.SGEDic_DemoConnectionString"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDic_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
