<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="nfseabrasf.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="nfseabrasf.My.MySettings.SGEDic_DemoConnectionString"
            connectionString="Data Source=asp22;Initial Catalog=SGEDic_Demo;Persist Security Info=True;User ID=admin;Password=cacareco"
            providerName="System.Data.SqlClient" />
        <add name="nfseabrasf.My.MySettings.SGEDados_DemoConnectionString"
            connectionString="Data Source=asp22;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="nfseabrasf.My.MySettings.SGEDic_DemoConnectionString1"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDic_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="NfseSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap2" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap3" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap4" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap5" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap6" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NfseSoap7" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="Certificate" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP2" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP3" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP4" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP5" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP6" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="nfseSOAP7" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="999999" maxBufferPoolSize="524288" maxReceivedMessageSize="999999"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="999999" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://notacarioca.rio.gov.br/WSNacional/nfse.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfseSoap"
                contract="NotaCariocaProducao.NfseSoap" name="NfseSoap" />
            <endpoint address="https://notacarioca.rio.gov.br/WSNacional/nfse.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfseSoap2"
                contract="NotaCariocaProducaoAssinc.NfseSoap" name="NfseSoap1" />
            <endpoint address="https://homologacao.notacarioca.rio.gov.br/WSNacional/nfse.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfseSoap4"
                contract="NotaCariocaHomologacao.NfseSoap" name="NfseSoap2" />
            <endpoint address="https://homologacao.notacarioca.rio.gov.br/WSNacional/nfse.asmx"
                binding="basicHttpBinding" bindingConfiguration="NfseSoap6"
                contract="NotaCariocaHomologacaoAssinc.NfseSoap" name="NfseSoap3" />
            <endpoint address="https://bhisshomologa.pbh.gov.br:443/bhiss-ws/nfse"
                binding="basicHttpBinding" bindingConfiguration="nfseSOAP"
                contract="NotaBHHomologacao.nfse" name="nfseSOAP" />
            <endpoint address="https://bhissdigital.pbh.gov.br:443/bhiss-ws/nfse"
                binding="basicHttpBinding" bindingConfiguration="nfseSOAP2"
                contract="NotaBHProducao.nfse" name="nfseSOAP1" />
            <endpoint address="https://bhisshomologa.pbh.gov.br:443/bhiss-ws/nfse"
                binding="basicHttpBinding" bindingConfiguration="nfseSOAP4"
                contract="NotaBHHomologacaoAssinc.nfse" name="nfseSOAP2" />
            <endpoint address="https://bhisshomologa.pbh.gov.br:443/bhiss-ws/nfse"
                binding="basicHttpBinding" bindingConfiguration="nfseSOAP6"
                contract="bhservicehomologacao.nfse" name="nfseSOAP3" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <nfseabrasf.My.MySettings>
            <setting name="nfseabrasf_bhproducao_NfseWSService" serializeAs="String">
                <value>https://bhissdigital.pbh.gov.br:443/bhiss-ws/nfse</value>
            </setting>
            <setting name="nfseabrasf_bhhomologacao_NfseWSService" serializeAs="String">
                <value>https://bhisshomologa.pbh.gov.br:443/bhiss-ws/nfse</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfsehml_EnvioLoteRPS"
                serializeAs="String">
                <value>https://nfsehml.sefaz.salvador.ba.gov.br/EnvioLoteRPS/EnvioLoteRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfsehml1_ConsultaSituacaoLoteRPS"
                serializeAs="String">
                <value>https://nfsehml.sefaz.salvador.ba.gov.br/ConsultaSituacaoLoteRPS/ConsultaSituacaoLoteRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfsehml2_ConsultaNfseRPS"
                serializeAs="String">
                <value>https://nfsehml.sefaz.salvador.ba.gov.br/ConsultaNfseRPS/ConsultaNfseRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfsehml3_ConsultaLoteRPS"
                serializeAs="String">
                <value>https://nfsehml.sefaz.salvador.ba.gov.br/ConsultaLoteRPS/ConsultaLoteRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfse_EnvioLoteRPS"
                serializeAs="String">
                <value>https://nfse.sefaz.salvador.ba.gov.br/ENVIOLOTERPS/EnvioLoteRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfse1_ConsultaSituacaoLoteRPS"
                serializeAs="String">
                <value>https://nfse.sefaz.salvador.ba.gov.br/CONSULTASITUACAOLOTERPS/ConsultaSituacaoLoteRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfse2_ConsultaNfseRPS"
                serializeAs="String">
                <value>https://nfse.sefaz.salvador.ba.gov.br/CONSULTANFSERPS/ConsultaNfseRPS.svc</value>
            </setting>
            <setting name="nfseabrasf_br_gov_ba_salvador_sefaz_nfse3_ConsultaLoteRPS"
                serializeAs="String">
                <value>https://nfse.sefaz.salvador.ba.gov.br/CONSULTALOTERPS/ConsultaLoteRPS.svc</value>
            </setting>
        </nfseabrasf.My.MySettings>
    </applicationSettings>
</configuration>
