<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sgenfebd.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="sgenfebd.My.MySettings.SGEDados_LojaConnectionString"
      connectionString="Data Source=JONES-STI\SQLEXPRESS;Initial Catalog=SGEDados_Loja;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDic_LojaConnectionString"
      connectionString="Data Source=JONES-STI\SQLEXPRESS;Initial Catalog=SGEDic_Loja;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDic_Demo_131108ConnectionString"
      connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDic_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_Demo_131108ConnectionString"
      connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDados_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_Demo_131108ConnectionString1"
      connectionString="Dsn=SGEDados_Demo_131108;uid=administrador;trusted_connection=Yes;app=Microsoft® Visual Studio® 2008;wsid=BAHIA-PC;database=SGEDados_Demo_131108"
      providerName="System.Data.Odbc" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_Demo130809ConnectionString"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo130809;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString1"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString2"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString3"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString4"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados_DemoConnectionString5"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDic_DemoConnectionString"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDic_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd.My.MySettings.SGEDados1_Padrao_OficialConnectionString"
      connectionString="Data Source=asp22;Initial Catalog=SGEDados1_Padrao_Oficial;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <sgenfebd.My.MySettings>
            <setting name="sgenfebd_nfeautorizacao_NfeAutorizacao" serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx</value>
            </setting>
            <setting name="sgenfebd_nfeinutilizacao2_NfeInutilizacao2" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="sgenfebd_nfeconsulta2_NfeConsulta2" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfeconsulta2.asmx</value>
            </setting>
            <setting name="sgenfebd_nfestatusservico2_NfeStatusServico2"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nfestatusservico2.asmx</value>
            </setting>
            <setting name="sgenfebd_cadconsultacadastro2_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/cadconsultacadastro2.asmx</value>
            </setting>
            <setting name="sgenfebd_recepcaoevento_RecepcaoEvento" serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
            </setting>
            <setting name="sgenfebd_nferetautorizacao_NfeRetAutorizacao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx</value>
            </setting>
            <setting name="sgenfebd_PR_NFeAutorizacao3_NfeAutorizacao3" serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeAutorizacao3</value>
            </setting>
            <setting name="sgenfebd_PR_NFeInutilizacao3_NfeInutilizacao3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeInutilizacao3</value>
            </setting>
            <setting name="sgenfebd_PR_NFeStatusServico3_NfeStatusServico3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeStatusServico3</value>
            </setting>
            <setting name="sgenfebd_PR_NFeRecepcaoEvento_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeRecepcaoEvento</value>
            </setting>
            <setting name="sgenfebd_PR_NFeRetAutorizacao3_NfeRetAutorizacao3"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeRetAutorizacao3</value>
            </setting>
            <setting name="sgenfebd_PR_CadConsultaCadastro2_CadConsultaCadastro2"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/CadConsultaCadastro2</value>
            </setting>
            <setting name="sgenfebd_PR_NFeConsulta3_NfeConsulta3" serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/nfe/NFeConsulta3</value>
            </setting>
            <setting name="sgenfebd_BA_NfeConsulta_NfeConsulta" serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/NfeConsulta/NfeConsulta.asmx</value>
            </setting>
        </sgenfebd.My.MySettings>
    </applicationSettings>
</configuration>
