<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.My.MySettings.SGEDic_Demo_131108ConnectionString"
            connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDic_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_Demo_131108ConnectionString"
            connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDados_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_Demo_131108ConnectionString1"
            connectionString="Dsn=SGEDados_Demo_131108;uid=administrador;trusted_connection=Yes;app=Microsoft® Visual Studio® 2008;wsid=BAHIA-PC;database=SGEDados_Demo_131108"
            providerName="System.Data.Odbc" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_Demo130809ConnectionString"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo130809;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString1"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString2"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString3"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString4"
            connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDados_DemoConnectionString5"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDic_DemoConnectionString"
            connectionString="Data Source=ASP22;Initial Catalog=SGEDic_Demo;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
        <add name="WindowsApplication2.My.MySettings.SGEDic_LojaConnectionString"
            connectionString="Data Source=JONES-STI\SQLEXPRESS;Initial Catalog=SGEDic_Loja;Integrated Security=False;User ID=sa;Password=SAPWD"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <WindowsApplication2.My.MySettings>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe_homologacao_NfeRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe_homologacao1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe_homologacao2_NfeCancelamento"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe_NfeRecepcao"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe2_NfeCancelamento"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe_homologacao_NfeRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe_homologacao1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe_homologacao2_NfeCancelamento"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe_NfeRecepcao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferetrecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe2_NfeCancelamento"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfecancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe3_NfeInutilizacao"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_sp_fazenda_nfe_homologacao3_NfeInutilizacao"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe3_NfeInutilizacao"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_rs_sefazvirtual_nfe_homologacao3_NfeInutilizacao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_nfe_NfeRecepcao"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeRecepcao2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_nfe1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeRetRecepcao2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_nfe2_NfeCancelamento"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeCancelamento2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_nfe3_NfeInutilizacao"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeInutilizacao2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_hnfe_NfeRecepcao"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRecepcao2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_hnfe_NfeRetRecepcao"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeRetRecepcao2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_hnfe_NfeCancelamento"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeCancelamento2</value>
            </setting>
            <setting name="testeassinatura2_br_gov_mg_fazenda_hnfe_NfeInutilizacao"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeInutilizacao2</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe_homologacao_NfeRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe_homologacao1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe_homologacao2_NfeCancelamento"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe_homologacao3_NfeInutilizacao"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe_NfeRecepcao"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/Nferecepcao/NFeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/NfeRetRecepcao/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe2_NfeCancelamento"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/NfeCancelamento/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura2new_br_gov_rs_sefaz_nfe3_NfeInutilizacao"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/nfeinutilizacao/nfeinutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_mg_fazenda_homologacao4_NfeStatusServico"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeStatus2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_mg_fazenda_nfe4_NfeStatusServico"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeStatus2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefaz_nfe_homologacao4_NfeStatusServico"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefaz_nfe4_NfeStatusServico"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefazvirtual_nfe_homologacao4_NfeStatusServico"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefazvirtual_nfe4_NfeStatusServico"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeStatusServico/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_sp_fazenda_nfe_homologacao4_NfeStatusServico"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_sp_fazenda_nfe4_NfeStatusServico"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfestatusservico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_nfe_hom_NfeCancelamento"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeCancelamento2/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_nfe_hom1_NfeInutilizacao"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_nfe_hom_NfeRecepcao"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRecepcao2/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_nfe_hom1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan_www_NfeRecepcao"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeRecepcao2/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan_www_NfeCancelamento"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeCancelamento2/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan3_NfeInutilizacao"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan_hom4_NfeStatusServico"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeStatusServico2/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan4_NfeStatusServico"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NFeStatusServico2/NFeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe_NfeRecepcao"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe2_NfeCancelamento"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe3_NfeInutilizacao"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe4_NfeStatusServico"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_hnfe_NfeRecepcao"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_homologacao1_NfeRetRecepcao"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_hnfe_NfeCancelamento"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_homologacao3_NfeInutilizacao"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_homologacao4_NfeStatusServico"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefazvirtual_nfe5_NfeConsulta"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_sp_fazenda_nfe5_NfeConsulta"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeconsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_homologacao5_NfeConsulta"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/nfenw/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_ba_sefaz_nfe5_NfeConsulta"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/nfenw/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan_hom5_NfeConsulta"
                serializeAs="String">
                <value>https://hom.nfe.fazenda.gov.br/SCAN/NfeConsulta2/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_fazenda_scan5_NfeConsulta"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/NfeConsulta2/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_mg_fazenda_homologacao5_NfeConsulta"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/NfeConsulta2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_mg_fazenda_nfe5_NfeConsulta"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/NfeConsulta2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefaz_nfe_homologacao5_NfeConsulta"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefaz_nfe5_NfeConsulta"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_rs_sefazvirtual_nfe_homologacao5_NfeConsulta"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_sp_fazenda_nfe_homologacao5_NfeConsulta"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeWEB/services/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe_homologacao5_NfeConsultaService"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeConsultaNF</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe5_NfeConsultaService"
                serializeAs="String">
                <value>https://nfe.fazenda.pr.gov.br/NFENWebServices/services/nfeConsultaNF</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao_NfeRecepcao2"
                serializeAs="String">
                <value>https://200.189.113.251:8543/nfe/NFeRecepcao2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao1_NfeRetRecepcao2"
                serializeAs="String">
                <value>https://200.189.113.250:8543/nfe/NFeRetRecepcao2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao2_NfeCancelamento2"
                serializeAs="String">
                <value>https://200.189.113.250:8543/nfe/NFeCancelamento2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao3_NfeInutilizacao2"
                serializeAs="String">
                <value>https://200.189.113.250:8543/nfe/NFeInutilizacao2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao4_NfeStatusServico2"
                serializeAs="String">
                <value>https://200.189.113.250:8543/nfe/NFeStatusServico2</value>
            </setting>
            <setting name="testeassinatura3new_br_gov_pr_fazenda_nfe2_homologacao5_NfeConsulta2"
                serializeAs="String">
                <value>https://200.189.113.250:8543/nfe/NFeConsulta2</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom_NfeRecepcao2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeRecepcao2/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom1_NfeRetRecepcao2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeRetRecepcao2/NfeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom2_NfeCancelamento2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeCancelamento2/NfeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom3_NfeInutilizacao2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeInutilizacao2/NfeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom4_NfeStatusServico2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeStatusServico2/NfeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_hom5_NfeConsulta2"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/NfeConsulta2/NfeConsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_NfeRecepcao2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NfeRecepcao2/NfeRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan1_NfeRetRecepcao2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeRetRecepcao2/NFeRetRecepcao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan2_NfeCancelamento2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeCancelamento2/NFeCancelamento2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan3_NfeInutilizacao2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeInutilizacao2/NFeInutilizacao2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_sefazvirtual_www_NfeStatusServico2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/NFeStatusServico2/NFeStatusServico2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan5_NfeConsulta2"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/nfeconsulta2/nfeconsulta2.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_ba_sefaz_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://hnfe.sefaz.ba.gov.br/webservices/sre/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_ba_sefaz_nfe6_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.sefaz.ba.gov.br/webservices/sre/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://hom.sefazvirtual.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_svan6_RecepcaoEvento"
                serializeAs="String">
                <value>https://www.sefazvirtual.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_mg_fazenda_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://hnfe.fazenda.mg.gov.br/nfe2/services/RecepcaoEvento</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_mg_fazenda_nfe6_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.fazenda.mg.gov.br/nfe2/services/RecepcaoEvento</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_rs_sefaz_nfe_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://homologacao.nfe.sefaz.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_rs_sefaz_nfe6_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.sefaz.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_rs_sefazvirtual_nfe_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://homologacao.nfe.sefazvirtual.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_rs_sefazvirtual_nfe6_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.sefazvirtual.rs.gov.br/ws/recepcaoevento/recepcaoevento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_sp_fazenda_nfe_homologacao6_RecepcaoEvento"
                serializeAs="String">
                <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_sp_fazenda_nfe6_RecepcaoEvento"
                serializeAs="String">
                <value>https://nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
            </setting>
            <setting name="testeassinatura4new_br_gov_fazenda_scan_www_RecepcaoEvento"
                serializeAs="String">
                <value>https://www.scan.fazenda.gov.br/RecepcaoEvento/RecepcaoEvento.asmx</value>
            </setting>
        </WindowsApplication2.My.MySettings>
    </applicationSettings>
</configuration>
